<div class="header__top">
    <div class="brand-container">
        <a href="/" class="brand-main">Pebble Beach</a>
        <a href="/" class="brand-subtitle">Poetry by Adam Farkas</a>
    </div>
    <nav>
        <ul class="nav__list">
            <li><a href="/">Browse</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</div>