<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/about-styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="../fontawesome/css/all.css" rel="stylesheet" />
    <!--load all styles -->
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:ital@0;1&display=swap"
        rel="stylesheet" />
    <title>Pebble Beach Poetry</title>
</head>

<body>
    <header>
        <%- include('./partials/nav.ejs') %> 
    </header>
    <section>
        <div class="about__main container">
            <div class="about__text">
                <h2>Hey,</h2>
                <p>
                    My name is Adam. I am a poet living in England. Welcome to my
                    website where you can find most of my poems. Whilst many are still
                    doing the rounds with editors, as soon as they have done the laps
                    that some poems must, they will appear on this website. Because
                    poetry should be free - just as it's sole purpose is to make us
                    free.
                </p>
                <div class="insta__wrapper">
                    <img src="./img/instagram.png" alt="instagram icon">
                    <a href="https://www.instagram.com/adam_karamazov_farkas/?hl=en"><p class="insta__text">@adam_karamazov_farkas</p></a>
                </div>
            </div>
        </div>
    </section>
    <%- include('./partials/footer.ejs')  %>
</body>
</html>