:root {
  --ff-sans: "Montserrat", sans-serif;
  --ff-serif: "Libre Baskerville", serif;

  /* small screen font-sizes */
  --fs-200: 0.9rem;
  --fs-400: 1rem;
  --fs-500: 1.375rem;

  --fw-400: 400;
  --fw-700: 700;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #f5f6fa;
  --clr-neutral-900: #1e2126;

  --clr-primary-300: #f3f7ff;
  --clr-primary-400: #b9cddd;
  --clr-primary-900: #2f3640;

  --border-radius: 0.5rem;
  --flow-spacer: 1rem;
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
header,
h1,
h2,
h3,
p {
  margin: 0;
}

ul[class],
ol[class] {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  padding: 0;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  color: var(--clr-neutral-900);
  line-height: 1.6rem;
}

h1,
h2 {
  line-height: 1;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  max-height: 100%;
  height: auto;
  display: block;
}

/* utilities */

.flow-content > * + * {
  margin-top: 1em;
}

/* general styling */

.container {
  width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;
}

section {
  padding: 2.5rem 0;
}

/* HEADER */

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--clr-primary-900);
  position: relative;
  z-index: 1;
}

.header__top {
  height: 80px;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-neutral-200);
  font-family: var(--ff-serif);
}

.brand-container {
  display: flex;
  flex-direction: column;
}

.brand-main {
  text-transform: uppercase;
}

nav {
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  border-radius: var(--border-radius);
  background-color: var(--clr-primary-900);
  color: var(--clr-neutral-100);
  padding: 1rem 0;
  z-index: 999;
}

.nav__list {
  display: flex;
  justify-content: space-around;
}

.nav__list a {
  color: inherit;
}

.nav__list li {
  border-bottom: 1px solid transparent;
}

.nav__list li:hover,
.nav__list li:active {
  border-bottom: 1px solid var(--clr-neutral-200);
}

@media (min-width: 30em) {
  nav {
    position: static;
    background-color: transparent;
    color: inherit;
  }

  .nav__list > li {
    margin-left: 2em;
  }
}
@media (min-width: 40rem) {
  .brand-container {
    flex-direction: row;
  }

  .brand-main {
    border-right: 1px solid var(--clr-primary-900);
    padding-right: 0.5rem;
  }
  .brand-subtitle {
    padding-left: 0.5rem;
  }
}

section {
  background-image: url("../img/pebbles-small.png");
  background-size: cover;
}

.about__main {
  min-height: calc(100vh - 230px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__text {
  margin-top: auto;
  margin-bottom: auto;
  max-width: 25rem;
  padding: 2.5rem;
  position: relative;
  z-index: 0;
}

.about__text::after {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: var(--clr-neutral-200);
  opacity: 0.9;
  z-index: -1;
  border-radius: var(--border-radius);
}

.about__text h2 {
  font-family: var(--ff-serif);
  font-size: var(--fs-500);
  line-height: 1.3;
  margin-bottom: 1.2em;
}

.about__text p {
  font-size: var(--fs-200);
  line-height: 1.3;
}

.insta__wrapper {
  display: flex;
  align-items: center;
  height: 2rem;
  font-size: var(--fs-400);
  color: var(--clr-neutral-900);
  margin-top: 2rem;
}

.insta__wrapper img {
  padding-right: 0.5em;
}

.insta__wrapper a {
  border-bottom: 1px solid transparent;
}

.insta__wrapper a:hover,
.insta__wrapper a:focus {
  border-bottom: 1px solid var(--clr-primary-900);
}

@media (min-width: 30rem) {
  .about__text h2 {
    font-size: var(--fs-500);
    line-height: 1.3;
  }

  .about__text p {
    font-size: var(--fs-400);
    line-height: 1.4;
  }
}

@media (min-width: 40rem) {
  .about__text {
    max-width: 35rem;
  }
}
footer {
  min-height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-200);
  background-color: var(--clr-neutral-200);
}

footer span {
  margin-right: 0.2em;
}
